h1{
    font-size: 30px;
    font-family: monospace;
    margin-left: 100px;
    margin-top: 100px;
    
}

html{
    background-image: url(background.png);
}

button{
    margin-left: 100px;
    position: relative;
    left: 0;
    top: 0;
}

button:hover{
    transform: scale(1.2);
}

a{
    color:black;
    text-decoration: none;
}

footer{
    font-size: 15px;
    font-family: monospace;
    text-align: center;
    margin-top: 400px;
}

